<div class="container">
  <form (ngSubmit)="onSubmit()"
  #costEnt="ngForm">
  <div class="row">
    <div class="col-sm-7">
      Введите трату за:
      <pre>{{ model | json }}</pre>
    </div>

    <div class="col-sm-5" >
        <div class="input-group mb-3">
          <input
            class="form-control"
            type="text"
            [(ngModel)]="costEntry"
            name="date"
            ngbDatepicker
            #d="ngbDatepicker"/>
          <div class="input-group-append">
            <a
              class="btn btn-outline-secondary"
              (click)="d.toggle()">Toggle
          </a>
          </div>
        </div>
    </div>
     </div>
     <br>

    <div class="row">
        <div class="col-sm-12">
            <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Наличные"
            ngModel
            #summ="ngModel"
            name="summ"
            required minlength="3">
            <div class="input-group-append">
              <a
                class="btn btn-outline-secondary"
                >Сумма
            </a>
            </div>
          </div>
        </div>
      </div>

    <br>

    <div class="row">
        <div class="col-sm-12">
            <div class="input-group mb-3">
                <select class="custom-select" id="inputGroupSelect02"
                ngModel
                name="income_select">
                    <option  *ngFor="let cat of incomeCat" [value]="cat">{{ cat.category_name }}</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">Ввести</button>
          </div>
      </div>


  </form>
  </div>





