<div class="container">
  <div class="row">
      <div class="col-sm-3" id="area-place">
          <div class="category-area">
            <app-v-menu><router-outlet></router-outlet></app-v-menu>
          </div>
      </div>
      <div class="col-sm-9" id="area-place">
          <div class="category-area">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-7">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            <a>
                                kuku
                            </a>
                            <p ></p>
                          </li>
                        </ul>
                      </div>
                      <div class="col-sm-5">
                               <p style="font-weight: bold;">Новая категория хранения:</p>
                          <form>

                              <div class="form-group">
                                  <label> Название: </label>
                                  <div >   Название должно содержать не меньше 3 символов
                                  </div>
                                  <input
                                      type="text"
                                      class="form-control"
                                      placeholder="Категория Затрат"

                                      name="category_name"
                                      required minlength="3">

                              </div>
                              <div class="form-group">
                                  <select class="form-control"
                                    name="parent_category"

                                     >
                                      <option ></option>
                                      <option>Родительская Категория</option>
                                      <option>Без Категории</option>
                                      <option></option>
                                  </select>
                              </div>

                              <div class="form-group">
                                  <label>Подсказки:</label>
                                  <textarea
                                      class="form-control"
                                      rows="3"

                                      name="comment"></textarea>
                                  <small class="form-text text-muted">
                                    Укажите подсказки через запятую, их можно будет использовать в комментариях для быстрого выбора категории.
                                  </small>
                              </div>
                              <div class="form-group">
                                  <button
                                  type="submit"
                                  class="btn btn-secondary"

                                  >Создать</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
