<div class="container">
  <div class="row">
      <div class="col-sm-3" id="area-place">
          <div class="category-area">
            <app-v-menu><router-outlet></router-outlet></app-v-menu>
          </div>
      </div>
      <div class="col-sm-9" id="area-place">
          <div class="category-area">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-7">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item"
                          *ngFor="let keeper of keeperCat">
                              {{ keeper.name }}      
                            <p >{{ keeper.summ }}</p>
                          </li>
                        </ul>
                      </div>
                      <div class="col-sm-5">
                               <p style="font-weight: bold;">Новый кошелек:</p>
                          <form (ngSubmit)="onSubmit(keepform)"
                          #keepform="ngForm">

                              <div class="form-group">
                                  <label> Название: </label>
                             
                                  <input
                                      type="text"
                                      class="form-control"
                                      placeholder="Наличные"
                                      ngModel
                                      #keeper_name="ngModel"
                                      name="keeper_name"
                                      required minlength="3">

                              </div>
                            

                              <div class="form-group">
                                  <label>Начальный остаток:</label>
                                  <input
                                      type="text"
                                      class="form-control"
                                      placeholder="Сумма"
                                      ngModel
                                      #keeper_summ="ngModel"
                                      name="keeper_summ"
                                     >
                              </div>
                              <div class="form-group">
                                  <button
                                  type="submit"
                                  class="btn btn-secondary"

                                  >Создать</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
